/data/
/output
/out
*.exe
*.json
/test
/test_files
/test_input
/test_output
/input
/*.docx
/out1/*.docx
/out2/*.docx
/out3/*.docx
/*.txt
*.xml
/temp_check_final
/temp_check_fixed
/temp_check_input
/temp_check_output
/temp_check_original
/temp_debug
/tests